*{
    margin: 0;
    padding: 0;
}
/*HTML5 ELEMENTS*/

 ul {
    display: block;
    float: left;
    margin-left: 780px;
    margin-top: 20px;
  
}

ul a.one,
a.one.visited {
    color: #333;
    font-weight: bold;
    margin-right: 20px;
    font-size: 13px;
}

ul a.two,
a.two.visited {
    margin-right: 20px;
    color: #333;
    font-size: 13px;
    text-decoration: none;
}

ul a.three,
a.three.visited {
    margin-right: 20px;
    background: #38f;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    padding: 4px;
    text-decoration: none;
}


.content {
    text-align: center;
    margin-top: 100px;
    margin: 0 auto;
    width: 960px;
    clear: both;
}
.content img{
    margin-top: 30px;
    padding-bottom: 20px;
}
#entry {
    position: relative;
}

.ddz_entry {
    border: 1px solid #4791FF;
    padding-left: 6px;
    width: 540px;
    height: 30px;
    outline: 0;
}

.ok {
    margin-left: -8px;
    border: 1px solid #4791FF;
    border-bottom: 1px solid #3879D9;
    width: 100px;
    height: 32px;
    background: #3385FF;
    color: white;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
}


.end-wrapper{
    text-align: center;
   display: inline-block;
   margin-top: 200px;
   width: 100%;
}
.inner{
    width: 350px;
    margin-left: 320px;
   }
.left{
    display: inline;
    float: left;
}
.right{
    display: inline;
    
}
p{
    display: inline-block;
    position: relative;
    top: -40px;
}
.second{
    position: relative;
    top: -30px;
    left: 35px;
    color: #999999;
}
.set{
    position: relative;
    top: -100px;
    left: -170px;
    font-size: 12px;

}
li{
    list-style-type: none;
    display: inline-block;
    padding-left: 50px;
}
li a{
    color: #999999;
}
.information{
    width: 400px;
    font-size: 12px;
    height: 70px;
    color: #999;
    position: relative;
    top: -90px;
    left: 620px;
}
.information a{
    color: #999;
}
